
.navbar, .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar img {
  width: 25px;
  height: 25px;
}

.navbar {
  background-color: grey;
}

.navbar ul {
  list-style-type: none; 
}